anytree==2.8.0
colored==1.4.2
configparser==5.0.0
cycler==0.10.0
kiwisolver==1.2.0
matplotlib==3.2.1
numpy==1.18.4
pbr==5.4.4
plotly==4.7.1
pyAgrum==0.17.3
pyparsing==2.4.7
python-dateutil==2.8.1
retrying==1.3.3
six==1.14.0
stevedore==1.31.0
termcolor==1.1.0
virtualenv==16.7.9
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
